
.banner{
    background-image: url("../../../public/images/netflix-background.jpg");
    background-size: cover;
    height:700px;
    background-repeat: no-repeat;


}
.banner-shade{
    background-color: rgba(0, 0, 0, 0.7);
    height:100%;
}